.github/
.git/
.idea/
.vscode/
.svelte-kit/
build/
node_modules/
package/
.dockerignore
.gitignore
.gitattributes
.npmrc
.nvmrc
.prettierrc
.prettierignore
compose.yml
Dockerfile
CONTRIBUTING.md
README.md